.Header {
  background: rgb(16, 55, 46);
  color: rgb(213, 215, 177);
  text-align: center;
  font-size: 45px;
  border-bottom: 2px solid rgb(18, 19, 2);

  h1 {
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
  }
}